*{
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url(peakpx.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;  
    background-attachment:fixed; 
    
}
/*--HEADER--SECTION---*/
.header{
    background:linear-gradient(to bottom, #000 30%, transparent 70%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 600px;
    border: 2px solid #000;

}
.header__logo{
    margin-top: 50px;
    background-color: #000;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    background-color: #ffe100e4;
    box-shadow:
    0 0 20px rgba(255, 213, 0, 0.8),
    0 0 30px rgba(255, 255, 0, 0.9),
    0 0 40px rgba(255, 165, 0, 0.4);
    
}
.header__tittle{
    font-size: 37px;
    color: wheat;

}
.header__div{
    height: 60px;
    border: 2px solid #000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.header__nav{
    height: 60px;
    align-items: center;
    justify-content: space-evenly;
    border: 2px solid #000;
    display: flex;
    width: 100%;

}
.header__link{
    background-color: #000;
    font-size: 14px;
    text-decoration: none;
    border: 2px solid #000;
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
}
/*----MAIN--SECTION*/
.main{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
#main__info{
    height: 200px;
    border: 2px solid #000;
}
/*Booking*/
#main__booking{
    height: 200px;
    border: 2px solid #000;
}
/*Contact*/
#main__contact{
    background:linear-gradient(to top, #000 30%, transparent 70%);
    height: 250px;
    border: 2px solid #000;
}
.contact__h2{
    font-size: 30px;

}
.contact__form{

}
.contact__div{

}
.contact__input{

}
#area{

}

/*---FOOTER--SECTION*/
.footer{
    height: 120px;
    background: #000;
}
.footer__tittle{
    font-size: 20px;
    color: wheat;

}
.footer__link{
    color: wheat;
    text-decoration: none;

}